<!-- breadcrumb start -->
<!-- ================ -->

<div class="breadcrumb-container">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <i class="fa fa-home pr-2"></i>
        <a routerLink='/home' (click)="refresh()">Home</a>
      </li>
      <li class="breadcrumb-item active">Sign Up</li>
    </ol>
  </div>
</div>
<!-- breadcrumb end -->

<div class="container">
  <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="col-9 col-sm-5 col-lg-3">

      <!-- page-title start -->
      <!-- ================ -->
      <h1 class="page-title">Sign Up</h1>
      <div class="separator-2"></div>
      <!-- page-title end -->

      <!-- Login Form Start -->
      <!-- ============================================================================== -->
      <form class="margin-clear" #form="ngForm" (ngSubmit)="onSubmit(form);">

        <div class="form-group has-feedback">
          <mat-form-field>
            <input matInput placeholder="First Name" name="firstname" [(ngModel)]="model.firstname" (keyup)="capitalize($event);" required>
            <mat-error>First name is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Middle Initial" name="mInitial" [(ngModel)]="model.mInitial" (keyup)="capitalize($event);">
            <mat-error>Middle Initial is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Last Name" name="lastname" [(ngModel)]="model.lastname" (keyup)="capitalize($event);" required>
            <mat-error>Last name is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email" name="email" [(ngModel)]="model.email" required>
            <i class="fa fa-envelope form-control-feedback"></i>
            <mat-error>Email is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="PhoneNumber" name="phoneNumber" [(ngModel)]="model.phoneNumber" required>
            <i class="fa fa-phone form-control-feedback"></i>
            <mat-error>PhoneNumber is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Select User Type" [(value)]="model.userTypeId">
                <mat-option *ngFor="let userProfile of userProfiles" value="{{userProfile.Id}}">{{userProfile.Type}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group">
          <button class="btn btn-default btn-sm">Sign Up</button>
        </div>
      </form>
      <!-- Login Form End -->
    </div>
  </div>
</div>
