################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChitFundManagement/.vs
/ChitFundManagement/ChitFundManagement/bin/Debug/netcoreapp2.0
/ChitFundManagement/ChitFundManagement/obj
