<!-- banner start -->
<!-- ================ -->
<div class="banner clearfix">
  <!-- slideshow start -->
  <!-- ================ -->
  <div class="slideshow">
    <!-- slider revolution start -->
    <!-- ================ -->
    <div class="slider-revolution-5-container">
      <div id="slider-banner-fullscreen" class="slider-banner-fullscreen rev_slider" data-version="5.0">
        <ul class="slides">
          <!-- slide 1 start -->
          <!-- ================ -->
          <li class="text-center" data-transition="random" data-slotamount="default" data-masterspeed="default" data-title="Home">
            <!-- main image -->
            <img src="assets/images/slider-fullscreen-slide-1.jpg" alt="Home" data-bgposition="center center" data-bgrepeat="no-repeat"
              data-bgfit="cover" class="rev-slidebg">

            <!-- Transparent Background -->
            <div class="tp-caption dark-translucent-bg" data-x="center" data-y="center" data-start="0" data-transform_idle="o:1;" data-transform_in="o:0;s:600;e:Power2.easeInOut;"
              data-transform_out="o:0;s:600;" data-width="5000" data-height="5000">
            </div>

            <!-- LAYER NR. 1 -->
            <div class="tp-caption xlarge_white" data-x="center" data-y="110" data-start="1000" data-end="2500" data-splitin="chars"
              data-splitout="chars" data-elementdelay="0.1" data-endelementdelay="0.1" data-transform_idle="o:1;" data-transform_in="x:[50%];o:0;s:600;e:Power4.easeInOut;"
              data-transform_out="x:[-50%];o:0;s:200;e:Power2.easeInOut;" data-mask_in="x:0;y:0;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Better Money Habits
            </div>
            <!-- LAYER NR. 2 -->
            <div class="tp-caption xlarge_white" data-x="center" data-y="110" data-start="3100" data-end="5600" data-splitin="chars"
              data-splitout="chars" data-elementdelay="0.1" data-endelementdelay="0.1" data-transform_idle="o:1;" data-transform_in="x:[-50%];o:0;s:600;e:Power4.easeInOut;"
              data-transform_out="x:[-50%];o:0;s:200;e:Power2.easeInOut;" data-mask_in="x:0;y:0;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Stay motivated
            </div>

            <!-- LAYER NR. 3 -->
            <div class="tp-caption xlarge_white" data-x="center" data-y="110" data-start="6200" data-end="9000" data-splitin="chars"
              data-splitout="chars" data-elementdelay="0.1" data-endelementdelay="0.1" data-transform_idle="o:1;" data-transform_in="x:[50%];o:0;s:600;e:Power4.easeInOut;"
              data-transform_out="x:0;y:[-50%];o:0;s:200;e:Power2.easeInOut;" data-mask_in="x:0;y:0;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Reach your savings goals faster
            </div>
          </li>
          <!-- slide 1 end -->

          <!-- slide 2 start -->
          <!-- ================ -->
          <li data-transition="random" data-slotamount="7" data-masterspeed="default" data-title="Vacation">

            <!-- main image -->
            <img src="assets/images/slider-fullscreen-slide-2.jpg" alt="slidebg2" data-bgposition="center center" data-bgrepeat="no-repeat"
              data-bgfit="cover" class="rev-slidebg">

            <!-- Transparent Background -->
            <div class="tp-caption dark-translucent-bg" data-x="center" data-y="center" data-start="0" data-transform_idle="o:1;" data-transform_in="o:0;s:600;e:Power2.easeInOut;"
              data-transform_out="o:0;s:600;" data-width="5000" data-height="5000">
            </div>

            <!-- LAYER NR. 1 -->
            <div class="tp-caption medium_white" data-x="left" data-y="240" data-speed="500" data-start="1200" data-transform_idle="o:1;"
              data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
              data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
              <span class="icon default-bg circle small hidden-xs">
                <i class="fa fa-space-shuttle"></i>
              </span> Need a vacation ?
            </div>

            <!-- LAYER NR. 2 -->
            <div class="tp-caption medium_white" data-x="left" data-y="300" data-speed="500" data-start="1400" data-transform_idle="o:1;"
              data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
              data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
              <span class="icon default-bg circle small hidden-xs">
                <i class="fa fa-wifi"></i>
              </span> Wanna go where the wifi is weak.
            </div>
          </li>
          <!-- slide 2 end -->

          <!-- slide 3 start -->
          <!-- ================ -->
          <li data-transition="random" data-slotamount="7" data-masterspeed="default" data-title="Car">

            <!-- main image -->
            <img src="assets/images/slider-fullscreen-slide-3.jpg" alt="slidebg2" data-bgposition="center center" data-bgrepeat="no-repeat"
              data-bgfit="cover" class="rev-slidebg">

            <!-- Transparent Background -->
            <div class="tp-caption dark-translucent-bg" data-x="center" data-y="center" data-start="0" data-transform_idle="o:1;" data-transform_in="o:0;s:600;e:Power2.easeInOut;"
              data-transform_out="o:0;s:600;" data-width="5000" data-height="5000">
            </div>

            <!-- LAYER NR. 1 -->
            <div class="tp-caption large_white" data-x="left" data-y="110" data-start="1000" data-transform_idle="o:1;" data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1100;e:Power4.easeInOut;"
              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
              <br> Drive Your Dream Car..!!
            </div>
          </li>
          <!-- slide 3 end -->
        </ul>
      </div>
    </div>
  </div>
</div>