<div class="card">
  <div class="card-body">
    <h5 class="card-title text-primary font-weight-bold" *ngIf="dataSource.data.length!==0">Chit List</h5>
    <h5 class="card-title text-info" *ngIf="dataSource.data.length===0">No Chits Available</h5>
    <div class="container" [hidden]="chits.length===0">
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <mat-form-field>
              <input matInput placeholder="Search By Name" (keyup)="filterByName($event.target.value)">
            </mat-form-field>
          </div>
        </div>
        <div class="col-2">
            <div class="form-group">
              <mat-form-field>
                <input matInput placeholder="Search By Value" (keyup)="filterByValue($event.target.value)">
              </mat-form-field>
            </div>
          </div>
      </div>
      <div class="row" [hidden]="dataSource.data.length===0">
        <div class="col-10">
          <div>
            <table class="table mat-elevation-z8" mat-table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let chit">{{chit.name}}</td>
              </ng-container>
              <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Value</th>
                <td mat-cell *matCellDef="let chit">{{chit.value | currency}}</td>
              </ng-container>
              <ng-container matColumnDef="noOfMonths">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>NoOfMonths</th>
                <td mat-cell *matCellDef="let chit">{{chit.noOfMonths}}</td>
              </ng-container>
              <ng-container matColumnDef="noOfUsers">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>NoOfUsers</th>
                <td mat-cell *matCellDef="let chit">{{chit.noOfUsers}}</td>
              </ng-container>
              <ng-container matColumnDef="createDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>CreateDate</th>
                <td mat-cell *matCellDef="let chit">{{chit.createDate | date}}</td>
              </ng-container>
              <ng-container matColumnDef="statusText">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>StatusText</th>
                <td mat-cell *matCellDef="let chit">{{chit.statusText}}</td>
              </ng-container>
              <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>StartDate</th>
                <td mat-cell *matCellDef="let chit">{{(chit.startDate | date) || 'N/A' }}</td>
              </ng-container>
              <ng-container matColumnDef="endDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>EndDate</th>
                <td mat-cell *matCellDef="let chit">{{(chit.endDate | date) || 'N/A'}}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
              <tr mat-row *matRowDef="let row; columns:columnsToDisplay"></tr>
            </table>
            <div>
              <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
            </div>
            <!-- <div class="row h-100 justify-content-center align-items-center">
                <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
              </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>