/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-family: "Roboto", sans-serif;
}

.forgotpwd{
    padding-left: 25px;
}

div .alert-success{
width: 185px;
}

.page-sub-title {
    font-size: small;
}

.mat-form-field {
    width: 160px;
}
.mat-form-field, .mat-option, #username {
    font-size: 90%;
    font-weight: 400;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.mat-form-field-infix {
    padding: .5em 0;
    // border-top: .84375em solid transparent;
    border-top: none;
}

.swal-size-sm 
{
   width: 350px !important;
   height: 300px !important;
}