<!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
<!-- ================ -->
<footer id="footer" class="clearfix dark">

  <!-- .footer start -->
  <!-- ================ -->
  <div class="footer">
    <div class="container">
      <div class="footer-inner">
        <div class="row justify-content-lg-center">
          <div class="col-lg-6">
            <div class="footer-content text-center padding-ver-clear">
              <div class="logo-footer">
                <img id="logo-footer" class="mx-auto" src="assets/images/logo_light_blue.png" alt="">
              </div>
              <p>Better Money Habits, Path to Save for Your Dream. Stay Motivated, Reach your savings goals faster.</p>
              <ul class="list-inline mb-20">
                <li class="list-inline-item">
                  <i class="text-default fa fa-map-marker pr-1"></i>66464 Honey Grv, Colorado Springs CO 80923</li>
                <li class="list-inline-item">
                  <a href="#" class="link-dark">
                    <i class="text-default fa fa-phone pl-10 pr-1"></i>+1 (813) 613-8744</a>
                </li>
                <li class="list-inline-item">
                  <a href="mailto:email@domain.com" class="link-dark">
                    <i class="text-default fa fa-envelope-o pl-10 pr-1"></i>ravikyazali@gmail.com</a>
                </li>
              </ul>
              <ul class="social-links circle animated-effect-1 margin-clear">
                <li class="facebook">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="twitter">
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="googleplus">
                  <a href="#">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </li>
                <li class="linkedin">
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
                <li class="xing">
                  <a href="#">
                    <i class="fa fa-xing"></i>
                  </a>
                </li>
              </ul>
              <div class="separator"></div>
              <p class="text-center margin-clear">Copyright © 2018 The Chit. All Rights Reserved</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- .footer end -->

</footer>
<!-- footer end -->