<!-- header start -->
<!-- classes:  -->
<!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
<!-- "fixed-desktop": enables fixed navigation only for desktop devices e.g. class="header fixed fixed-desktop clearfix" -->
<!-- "fixed-all": enables fixed navigation only for all devices desktop and mobile e.g. class="header fixed fixed-desktop clearfix" -->
<!-- "dark": dark version of header e.g. class="header dark clearfix" -->
<!-- "centered": mandatory class for the centered logo layout -->
<!-- ================ -->
<header class="header fixed fixed-desktop clearfix">
  <div class="container">
    <div class="row">
      <div class="col-md-auto hidden-md-down">
        <!-- header-first start -->
        <!-- ================ -->
        <div class="header-first clearfix">
          <!-- logo -->
          <div id="logo" class="logo">
            <a href="index.html">
              <img id="logo_img" src="assets/images/logo_light_blue.png" alt="The Project">
            </a>
          </div>
          <!-- name-and-slogan -->
          <div class="site-slogan">
            Better Money Habits
          </div>
        </div>
        <!-- header-first end -->
      </div>

      <div class="col-lg-8 ml-auto">
        <!-- header-second start -->
        <!-- ================ -->
        <div class="header-second clearfix">
          <!-- main-navigation start -->
          <!-- classes: -->
          <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
          <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
          <!-- ================ -->
          <div class="main-navigation main-navigation--mega-menu  animated">
            <nav class="navbar navbar-expand-lg navbar-light p-0">

              <div class="navbar-brand clearfix hidden-lg-up">
                <!-- logo -->
                <div id="logo-mobile" class="logo">
                  <a href="index.html">
                    <img id="logo_img" src="assets/images/logo_light_blue.png" alt="The Project">
                  </a>
                </div>

                <!-- name-and-slogan -->
                <div class="site-slogan">
                  Better Money Habits
                </div>
              </div>

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>


              <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <!-- main-menu -->
                <ul class="navbar-nav ml-xl-auto">

                  <!-- home-menu start -->
                  <li class="nav-item" routerLinkActive='active'>
                    <a routerLink='home' (click)="refresh();" class="nav-link">Home</a>
                  </li>
                  <!-- home-menu end -->

                  <!-- chit-menu start -->
                  <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" routerLink='/chits' id="third-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Chits</a>
                    <ul class="dropdown-menu" aria-labelledby="third-dropdown">
                      <li class="dropdown ">
                        <a routerLink='/chits'>View Chits </a>
                      </li>
                      <li class="dropdown ">
                        <a routerLink='/chits/create'>Create Chit </a>
                      </li>
                    </ul>
                  </li>
                  <!-- chit-menu end -->

                  <!-- users-menu start -->
                  <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" id="third-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Users</a>
                    <ul class="dropdown-menu" aria-labelledby="third-dropdown">
                      <li class="dropdown ">
                        <a routerLink='/users/signup'>Add User </a>
                      </li>
                    </ul>
                  </li>
                  <!-- users-menu end -->

                  <!-- actions-menu start -->
                  <li class="nav-item" routerLinkActive='active'>
                    <a class="nav-link">Auctions</a>
                  </li>
                  <!-- actions-menu end -->

                  <!-- reports-menu start -->
                  <li class="nav-item" routerLinkActive='active'>
                    <a class="nav-link">Reports</a>
                  </li>
                  <!-- reports-menu end -->
                </ul>
                <!-- main-menu end -->
              </div>
            </nav>
          </div>
          <!-- main-navigation end -->
        </div>
        <!-- header-second end -->

      </div>
      <!-- search start -->
      <div class="col-auto hidden-md-down">
        <div class="header-dropdown-buttons">
          <div class="btn-group">
            <button type="button" class="btn dropdown-toggle dropdown-toggle--no-caret" id="header-drop-1" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="fa fa-search"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-right dropdown-animation" aria-labelledby="header-drop-1">
              <li>
                <form role="search" class="search-box margin-clear">
                  <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Search">
                    <i class="fa fa-search form-control-feedback"></i>
                  </div>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- search end -->
    </div>
  </div>
</header>
<!-- header end -->