<!-- main-container start -->
<!-- ================ -->
<div class='container'>
  <div class='row'>
    <div class='col-9'>
      <div class='row'>
        <div class='col-9'>
          <form novalidate [formGroup]='managerForm' (ngSubmit)='onSaveManager();'>
            <h1 class='page-sub-title'>{{title}}</h1>
            <div class='separator-2'></div>
            <div class="form-group">
              <div class="form-check" *ngFor="let control of managerForm.get('managers').controls">
                <input type="checkbox" class="form-check-input" checked (change)="onManagerChange(control.value)">
                <label id='username'>
                  {{control.value}}
                </label>
              </div>
            </div>
            <div class="form-group">
              <mat-form-field>
                <input matInput placeholder='Key in lastname' [formControl]='managerControl' [matAutocomplete]='autoManager' required>
                <mat-autocomplete #autoManager='matAutocomplete' [displayWith]='displayFn' (optionSelected)='onSelectManager($event.option.value);'>
                  <mat-option *ngFor='let mngr of managers | async' [value]='mngr'>{{mngr.firstname}}</mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class='form-group'>
              <a class="btn btn-gray btn-sm" [routerLink]="['/chits']" style="margin-right: 3px;">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>Back</a>
              <button class="btn btn-sm btn-group btn-default btn-animated" type="submit">Save-Manager </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>